@import "variable.scss";

td {
  line-height: 2;
}

code {
  color: $theme-color;
  background-color: rgba($theme-color, 0.08);
}

blockquote {
  padding: 0.5em 1em;
  margin: 12px 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-left: 3px solid $theme-color;
  background-color: rgba($theme-color, 0.08);
}